.Expandable-trigger {
    background: none;
    color: hsl(0, 0%, 13%);
    display: block;
    position: relative;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 1rem 1.5rem;
    outline: none;
    text-align: center;
}

.Expandable-trigger:focus,
.Expandable-trigger:hover {
    background: hsl(216, 96%, 96%);
}